/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
}


/* Corpo */

#Cont_Logo_Nome{
    background-color: #fff;
}


#Logo {
    padding-left: 20px;
    height: 60px;
    width: auto;
    vertical-align: middle;
}

#Nome {
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.Container {
    width: 80%;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);;
    border-radius: 15px;
}


/* Todo List part */

#Contenitore_Pulsanti {
    margin: auto;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: rgb(231, 231, 231) solid;
}

.Button {
    padding: 8px;
    border-radius: 10px;
}

.Add {
    background-color: rgb(61, 188, 238);
    border: none;
}

.Sect {
    background-color: rgb(228, 228, 228);
    border: none;
}


/* Tasks property */

.Task {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.Dropdown {
    font-size: 30px;
    font-weight: bold;
}

/* List items */
.Divider {
    padding-top: 8px;
}

.Bottom {
    padding-bottom: 30px;
}

.Check {
    color: green;
}

.X {
    color: red;
}

#TaskTextSucc {
    font-size: 20px;
}

.Tag {
    padding: 5px;
    border-radius: 25px;
}

.Editorial {
    background-color: rgb(61, 188, 238);
    border: none;
}

.Q1 {
    background-color: rgb(178, 117, 235);
    border: none;
}

.Recruiting {
    background-color: rgb(61, 238, 179);
    border: none;
}

.Mobile {
    background-color: rgb(238, 155, 61);
    border: none;
}

.Website {
    background-color: rgb(238, 106, 205);
    border: none;
}

.Sales {
    background-color: rgb(197, 240, 97);
    border: none;
}