/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(214, 214, 214);
}

/* Corpo */
#Cont_Logo_Nome{
    background-color: #fff;
}


#Logo {
    padding-left: 20px;
    height: 60px;
    width: auto;
    vertical-align: -80%;
}

#Nome {
    font-size: 40px;
    font-weight: bold;
}

.Container {
    width: 80%;
    margin: 40px auto;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);;
    border-radius: 15px;
}

/* Todo List part */

#Contenitore_Pulsanti {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.Button {
    padding: 8px;
    border-radius: 10px;
}

.Add {
    background-color: rgb(61, 188, 238);
    border: none;
}

.Sect {
    background-color: rgb(228, 228, 228);
    border: none;
}

.Task {
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.Dropdown {
    font-size: 30px;
    font-weight: bold;
}